@use '../../style/globals.scss' as g;

// 定义按钮类型的颜色配置
$button-colors: (
    default: (color: g.$default-text, bg: #fff, border: g.$default),
    success: (color: g.$success-text, bg: g.$success, border: g.$success),
    primary: (color: g.$success-text, bg: g.$primary, border: g.$primary),
    error: (color: g.$success-text, bg: g.$error, border: g.$error),
    warning: (color: g.$success-text, bg: g.$warning, border: g.$warning),
    info: (color: g.$success-text, bg: g.$info, border: g.$info)
);

// 公共按钮样式
%button-base {
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid;
    margin: 2px 6px;
    box-sizing: border-box;
    background-color: #fff;
}

// 按钮大小样式
@mixin button-size($padding, $font-size) {
    padding: $padding;
    font-size: $font-size;
}

// 通用的按钮状态样式
@mixin button-state($color, $bg, $border) {
    background-color: $bg;
    color: $color;
    border-color: $border;

    &.is-plain {
        color: $border;
        background-color: #fff;

        &:hover {
            color: #fff;
            background-color: $border;
        }
    }

    &.is-link {
        color: $border;
        border: transparent;
        background-color: transparent;
    }
}

// 按钮禁用样式
.button {
    @extend %button-base;

    // 生成不同类型的按钮
    @each $name, $values in $button-colors {
        &-#{$name} {
            @include button-state(map-get($values, color),
                map-get($values, bg),
                map-get($values, border));
        }
    }

    // 按钮大小
    &-large {
        @include button-size(12px 19px, 14px);
    }

    &-small {
        @include button-size(5px 11px, 12px);
    }

    // 其他样式
    &.is-round {
        border-radius: 16px;
        overflow: hidden;
    }

    &.is-disabled {
        cursor: not-allowed;
        background-image: none;
        filter: brightness(93%);
    }

    // Hover 样式
    &:hover:not(.is-disabled) {
        filter: brightness(95%);
    }
}